        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            /* direction: rtl; Right-to-left text direction */
        }

        .container {
            direction: rtl;
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
            position: relative;
        }

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .title h3 {
            margin: 0;
            color: #FF4B2B;
        }

        .title img {
            height: 75px;
        }


        .personal-page {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        h3 {
            color: #FF4B2B;
        }

        label {
            direction: rtl;
            display: block;
            margin-bottom: 8px;
            color: #333;
        }

        .form-group {
            margin-bottom: 20px;
        }

        input {
            direction: rtl;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            color: #333;
            font-size: 14px;
        }